@use "../styles/sass/abstracts/" as *;

.container {
  width: 60%;
  margin: 0 auto;

  .content {
    display: flex;
    flex-direction: column;

    h1 {
        color: $brand-color;
    }

    p {
        line-height: 1.5rem;
        color: $font-color;
    }
  }
}
