@use "../styles/sass/abstracts/" as *;

.container {
  width: 60%;
  margin: 0 auto;

  .content {
    display: flex;
    flex-direction: column;

    .title {
        color: $brand-color;
    }

    p {
        line-height: 1.5rem;
    }

    a {
        padding: 2rem;
        margin: 0 auto;
        font-size: 3rem;
        color: $brand-color;

        &:hover {
            color: $primary-color;
        }
    }
  }
}
