// COLOURS
$primary-color: #a0c8e9;
$complementary-color: #3271d2;
$brand-color:#132e57;
$font-color: #57595d;

// TYPOGRAPHY
$primary-font: Open Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;